
/* General button style (reset) */
.btn-0 {
	border: none;
	font-family: 'avenir_light';
	font-size: 16px;
	color: inherit;
	background: none;
	cursor: pointer;
	/*padding: .6vw .8vw;*/
	padding: 13px 20px;
	display: inline-block;
	/*margin: 15px 30px;*/
	/*margin-top: 5vh;*/
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	z-index: 99;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-0:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



/* Button 1 */
.btn-1 {
	position: relative;
	border: .11em solid #fff;
	color: #fff;
	z-index: 99;
}

/* Button 1c */
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-1c:hover,
.btn-1c:active {
	color: #462779;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}



/*small button*/

.btn-small {
	border: none;
	font-family: 'avenir_light';
	font-size: 12px;
	color: inherit;
	background: none;
	cursor: pointer;
	/*padding: .6vw .8vw;*/
	padding: 10px 17px;
	display: inline-block;
	/*margin: 15px 30px;*/
	/*margin-top: 5vh;*/
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	z-index: 99;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-small:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}




/* Button 2 */
.btn-2 {
	position: relative;
	border: .11em solid #fff;
	color: #fff;
	z-index: 99;
}

/* Button 2c */
.btn-2c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-2c:hover,
.btn-2c:active {
	color: #462779;
}

.btn-2c:hover:after,
.btn-2c:active:after {
	width: 100%;
}
