html,
body {
	margin:0;
	padding:0;
	height:100%;
	background: #363636;
}

#super-container{
    max-width: 1920px;
    min-width: 1024px;
    min-height: 100%;
    /*height: 100%;*/
    width:100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*padding-bottom: 20px;*/
    background-color: #363636;
    /*background: blue;*/
    /*border: 1px red solid;*/
    /*overflow-y: hidden;*/
    /*overflow-x: scroll;*/
    overflow: hidden;
}

#copyright {
	/*background:#ffab62;*/
	font-family: 'avenir_light';
	font-size: 12px;
	color: grey;
	text-transform: uppercase;
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	z-index: 9999;
}

.nav_btn_wrapper{
	position: absolute;
	right: 80px;
	top: 80px;
	z-index: 99;
}

/*.nav_btn_list{
	display: inline-block;
	color: white;
	font-family: 'avenir_light';
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 20px;
	vertical-align: top;
	border: 1px red solid;
}
*/

.nav_btn_list{
	display: inline-block;
	color: white;
	font-family: 'avenir_light';
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 20px;
	vertical-align: top;
	text-align: left;
	/*border: 1px red solid;*/
}

.nav_btn{
	color: white;
}

.nav_btn:hover{
	color: #a073ec;
}

.drop_down_btn{
	display: none;
	padding-top: 10px;
}

.nav_btn_list:hover .drop_down_btn{
	display: block;
	position: absolute;
}

.nav_btn span{
	color: #a073ec;
}

/*===================================HOME page starts here===================================*/

.desktop_logo_wrapper{
	position: relative;
	padding-top: 15em;
	padding-bottom: 8em;
	padding-left: 10em;
	/*max-width: 50vw;*/
	/*max-width: 50%;*/
}

/*.logo{
	max-width: 100%;
}
*/
.find_out_btn{
	position: relative;
	/*padding-top: 16.5em;*/
	padding-bottom: 300px;
	/*padding-bottom: 30vmin;*/
	/*top: 35vw;*/
	max-width: 50vw;
	cursor: pointer;
}

/*===================================PROJECT DETAILS page starts here===================================*/

#pro_wrapper{
	padding: 150px 15% 0 15%;
	padding-top: 200px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	/*border: 1px yellow solid;*/
	/*max-width: 800px;*/
	/*margin-bottom: 20px;*/

}

.pro_title{
	font-family: 'avenir_black';
	font-size: 75px;
	color: white;
	text-transform: uppercase;
}

.pro_sub_title{
	font-size: 55px;
	color: grey;
}

.pro_category{
	font-family: 'avenir_light';
	font-size: 15px;
	color: #a073ec;
	text-transform: uppercase;
	margin-top: 10px;
}

.pro_client{
	font-family: 'avenir_black';
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

.pro_client span{

	color: grey;
}

.pro_client span:hover{
	color: #a073ec;
}

.pro_description{
	font-family: 'avenir_light';
	font-size: 16px;
	color: white;
	margin-top: 30px;
	/*text-align: justify;*/
	line-height: 22px;
	max-width: 1050px;
	max-height: 600px;
	/*overflow-y: scroll;*/
	/*border: 1px red solid;*/
}

.thumb_wrapper{
	position: relative;
	margin-top: 50px;
	/*min-width: 4px;*/
	/*text-align: center;*/
	padding-bottom: 20px;
	/*border: 1px red solid;*/
}

.pro_thumb{
	position: relative;
	border-radius: 50%;
	width: 150px;
	max-width: 13%;
	margin-left: 20px;
}

.find_out{
	vertical-align: text-top;
	width: 50px;
}

.pop_up_pro{
	font-family: 'avenir_light';
	font-size: 18px;
	color: white;
	max-width: 700px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
}

.pro_description span{
	color: #a073ec;
	font-family:'avenir_black';
}

.pro_description span:hover{
	color: purple;
	font-family:'avenir_black';
}


/*===================================PROJECTS DETAILS page starts here===================================*/

#bgvid{
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  /*z-index: -1;*/
	  overflow: hidden;
	  /*background: url('../vid/grommet_bg_vid.jpg') no-repeat;*/
	  background-size: cover;
}

#index-bgvid{
	z-index: -2;
}

p{
	font-family: 'avenir_light';
	font-size: 18px;
	color: #363636;
	line-height: 20px;
}

#lightbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 500px;
	/*margin-left: -250px;*/
	background: #fff;
	z-index: 1001;
	display: none;


}
#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}

/*===================================SPECIALTY page starts here===================================*/

#spec_content_wrapper{
	/*position: relative;*/
	min-width: 800px;
	/*margin: 18% 0 0 8%;*/
	padding: 300px 0 0 8%;
}

#spec_title{
	/*border: 1px red solid;*/
}

h2{
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 80px;
	color: white;
}

#spec_title span{
	color: #a073ec;
}

.more_btn{
	/*border: 1px yellow solid;*/
	position: relative;
	vertical-align: bottom;
	padding-left: 690px;
}

/*===================================PROJECTS page starts here===================================*/

#projects_container{
	/*border: 1px red solid;*/
	position: absolute;
	display: inline-block;
	z-index: 77;
	/*max-width: 1660px;*/
	/*min-width: 1024px;*/
	/*width: 1024px;*/
	width: 1075px;
	margin: auto;
	top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
	/*max-height: 100%;*/
	/*padding-bottom: 50px;*/
	/*background: red;*/
}

.projects_title_wrapper{
	/*border: 1px blue solid;*/
	/*width: 100%;*/
	position: relative;
	display: inline-block;
	/*margin-right: 30px;*/
	/*margin-top: 28%;*/
	/*margin-top: 250px;*/
	margin-left: 20px;
	width: 330px;
}

.projects_title{
	position: relative;
	display: block;
	font-family: 'avenir_black';
	color: white;
	font-size: 40px;
	text-transform: uppercase;
}

.projects_title span{
	color: #a073ec;
}

.pro-btn{
	margin-top: 30px;
}

/*===================================CONTACT page starts here===================================*/

#contact_wrapper{
	/*position: relative;*/
	/*margin: 210px 0 30px 8%;*/
	padding: 210px 0 30px 8%;
}

.contact_title{
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 70px;
	color: white;
}

.contact_img_wrapper{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 2px;
	/*margin-left: .5vh;*/
	width: 260px;
	/*border: 1px red solid;*/
}

.contact_btn_wrapper{
	margin-top: 170px;
	min-width: 1300px;
	/*border: 1px green solid;*/
}

.contact_img{
	/*width: 72px;*/
	cursor: pointer;
}

.contact_info{
	font-family: 'HelveticaNeueLT57CnBold';
	margin-top: 22px;
	font-size: 25px;
	color: #a1a1a1;
	/*line-height: 37px;*/
	text-align: center;
	/*border: 1px yellow solid;*/
}

.contact_info span{
	text-transform: uppercase;
	color: white;
	font-size: 36px;
}

/*===================================INDEX page starts here===================================*/

h3{
	font-family: 'avenir_black';
	/*font-size: 90px;*/
	font-size: 5vw;
	color: white;
	text-transform: uppercase;
}

.index_pro_wrapper span{
	color: #a073ec;
}

.index_pro_wrapper{
	/*border: 1px yellow solid;*/
	position: absolute;
	margin: 300px 0 0px 15%;
	padding-bottom: 150px;
	/*display: inline-block;*/
}

.index_pro{
	position: relative;
	display: inline-block;
}

.explore-btn{
	padding-top: 50px;
	padding-left: 5px;
	/*border: 2px orange solid;*/
	/*position: absolute;*/
	/*display: inline-block;*/
	/*float: right;*/
	/*top: 80px;*/
	/*max-width: 20%;*/
	/*margin:100px 90px 0 0;*/
	/*vertical-align: middle;*/
}

/*===================================QUICK page starts here===================================*/

h4{
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 50px;
	color: white;
}

h4 span{
	color: #a073ec;
}

.clients_wrapper{
	position: relative;
	padding-top: 180px;
	margin-left: 8%;
	padding-bottom: 50px;
	/*border: 1px yellow solid;*/
}

.quick_fact_description{
	position: relative;
	padding-bottom: 30px;
}



.client_text{
	font-family: 'avenir_light';
	font-size: 16px;
	color: white;
	text-transform: uppercase;
}

.logo_wrapper{
	position: relative;
	margin: 1% 0 0 0;
	padding: 0;
	list-style: none;
	max-width: 95%;
	width:auto;
	clear: both;
	/*border: 1px red solid;*/
}

.client_logo{
	/*max-height: 90%;*/
	display: inline-block;
	/*max-width: 55%;*/
	/*max-width: 30%;*/
	max-height: 13vh;
	margin: 0 3px 5px 0;
	/*border: 1px yellow solid;*/
}

.quick_fact_contact{
	position: relative;
	color: white;
	font-family: 'avenir_black';
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 30px;
	/*border: 1px yellow solid;*/
}

.footer_btn{
	color: white;
	text-decoration: none;
	/*border: 1px blue solid;*/
}

.footer_btn:hover{
	color: #a073ec;
	text-decoration: none;
}

.footer_btn_wrapper{
	/*border: 1px green solid;*/
	padding-top: 8px;
}


/*===================================QUICK page starts here===================================*/
#small-size{
	display: none;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
    font-family:sans-serif;
    /*background-color: #363636;
    opacity: .95;*/
    z-index: 99999;
    /*overflow: hidden;*/
    height: 100%;
    /*text-align: center;*/
}

.too-small{
	width: 400px;
	/*border: 1px red solid;*/
	text-align: left;
	color: white;
}

h5{
	font-family: 'avenir_black';
	/*font-size: 2.5vw;*/
	font-size: 25px;
	line-height: 28px;
}

.too-small span{
	color: #a073ec;
	font-style: italic;
}

#close-small{
	text-align: center;
	margin-top: 55px;
	cursor: pointer;
	color: #a073ec;
	font-style: italic;
}

.scr_small{
	/*border: 1px blue solid;*/
	text-align: center;
	width: 100%;
	height: 153px;
	padding-bottom: 50px;
	background-image: url("../images/scr_small.png");
	background-position: center;
	background-repeat: no-repeat;
}

.small-size-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .95;
	/*background: #363636;*/
	background: #555;
	z-index: -5;
}

#index-wrapper{
	position: absolute;
	width: auto;
	/*border: solid 1px white;*/
	/*background: red;*/
}





@media all and (min-width: 1920px) {
  h3{
	font-size: 90px;
	/*font-size: 5vw;*/
  }
}


/*=========================    Partnership Page     ========================*/


#nd_content_wrapper{
	/*position: relative;*/
	/*min-width: 800px;*/
	/*margin: 18% 0 0 8%;*/
	padding: 130px 0 0 8%;
}

.nd_description{
	font-family: 'avenir_light';
	font-size: 16px;
	color: white;
	margin-top: 30px;
	/*text-align: justify;*/
	line-height: 22px;
	max-width: 966px;
	/*border: 1px red solid;*/
}

.nd_btn{
	font-family: 'avenir_black';
	color: white;
}

.nd_btn:hover{
	color: #a073ec;
}

.nd_logo_wrapper{
	display: inline-block;
	padding: 35px 35px 0 0;
	vertical-align: top;
	/*width: 35%;*/
	width: 40vw;
	/*border: 1px blue solid;*/
}

.nd_logo_wrapper img {
	float: left;
	margin-right: 10px;
}

.nd_logo_title{
	/*display: inline-block;*/
	padding-top: 20px;
	/*width: auto;*/
	font-family: 'avenir_black';
	color: white;
	font-size: 25px;
	vertical-align: top;
	text-transform: uppercase;
	/*border: 1px red solid*/
}

.nd_logo_title span{
	font-family: 'avenir_light';
}

.nd_logo_description{
	/*display: inline-block;*/
	/*width: 469px;*/
	font-family: 'avenir_light';
	font-size: 14px;
	color: #a8a8a8;
	padding-top: 10px;
	text-transform: none;
	/*border: 1px green solid;*/
	line-height: 18px;
}

#nd_spec_title {
	/*border: 1px red solid*/
}

#nd_spec_title span{
	color: #a073ec;
}

/*=========================    All Projects Page     ========================*/


#all_projects_wrapper{
	/*border: 1px green solid;*/
	position: relative;
}


.pro_title_container{
	position: relative;
	display: inline-table;
	float: none;
	min-width: 10%;
	/*min-width: 5px;*/
	/*border: 1px red solid;*/
}

.pro_text{
	position: relative;
	display: block;
	font-family: 'avenir_black';
	color: white;
	font-size: 70px;
	text-transform: uppercase;
	float: none;
	min-width: 10%;
}

.pro_text span{
	color: #a073ec;
}


/*=========================    Archive Projects Page     ========================*/

.archive_wrapper{
	position: absolute;
	top: 250px;
	/*max-width: 70%;*/
	justify-content: center;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 0 50px 0 50px;
	box-sizing: border-box;
	/*width: auto !important;*/
	/*border: 1px red solid;*/
}

.archive_project_wrapper{
	position: relative;
	width: 250px;
	height: 250px;
	background-color: #555555;
	margin: 5px 5px;
	cursor: pointer;
	/*border: 1px blue solid;*/
}

.archive_project_wrapper:hover{
	background-color: #230636;
}

.archive_project_title {
	font-family: 'avenir_black';
	font-size: 30px;
	color: white;
	text-transform: uppercase;
}

.archive_project_title span{
	color: #a073ec;
}

#super-container-archive {
    max-width: 1920px;
    min-width: 1024px;
    /*min-height: 100%;*/
    width:100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #363636;
    /*background-color: red;*/
}

.copyrightArchive {
	/*border: 1px red solid;*/
	width: 100%;
	height: 20px;
	position: relative;
	bottom: 0;
	font-family: 'avenir_light';
	font-size: 12px;
	color: grey;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
}

/*.center_align_archive {
  position: absolute;
  top: 50%;
  top: 200px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  border: 1px red solid;
}*/

.pro_thumb_2019{
	position: relative;
	border-radius: 50%;
	object-fit: cover;
	width: 150px;
	/* height: 150px; */
	margin-left: 20px;
	max-width: 13%;
	/* max-height: 13%; */
	/* position: relative;
	border-radius: 50%;
	width: 150px;
	max-width: 13%;
	margin-left: 20px; */
}
