
body{
    width: 100%;
    height: 100%;
    /*background: #363636;*/
    position: relative;
    background: blue;
    min-height: 100%;
}

#super-container{
    max-width: 1920px;
    min-height: 100%;
    /*height: 100%;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*background-color: purple;*/
    border: 1px red solid;
}

#main{ /*wrapper */
	position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #363636;
    border: 1px green solid;
    max-width: 1920px;
    min-width: 1024px;
    /*min-height: 100%;*/
    padding: 0 50px 50px 50px;
}

#copyright{
	height: 20px;
	background: red;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.nav_btn_wrapper{
	position: absolute;
	right: 80px;
	top: 80px;
	z-index: 99;
}

.nav_btn_list{
	display: inline-block;
	color: white;
	font-family: 'avenir_light';
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 20px;
	vertical-align: top;
}

.nav_btn{
	color: white;
}

.nav_btn:hover{
	color: #a073ec;
}

.drop_down_btn{
	display: none;
	padding-top: 10px;
}

.nav_btn_list:hover .drop_down_btn{
	display: block;
}

.nav_btn span{
	color: #a073ec;
}

/*===================================HOME page starts here===================================*/

.desktop_logo_wrapper{
	position: relative;
	padding-top: 13em;
	padding-bottom: 8em;
	padding-left: 10em;
}

.logo{
	/*max-width: 80%;*/
}

.find_out_btn{
	position: relative;
	/*padding-top: 16.5em;*/
	padding-bottom: 160px;
	cursor: pointer;
}

/*===================================KOKAKO page starts here===================================*/

#pro_wrapper{
	padding-top: 150px;

}

.pro_title{
	font-family: 'avenir_black';
	font-size: 60px;
	color: white;
	text-transform: uppercase;
}

.pro_sub_title{
	font-size: 45px;
	color: grey;
}

.pro_category{
	font-family: 'avenir_light';
	font-size: 15px;
	color: #a073ec;
	text-transform: uppercase; 
	margin-top: 10px;
}

.pro_client{
	font-family: 'avenir_black';
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

.pro_client:hover{
	color: #a073ec;
}

.pro_description{
	font-family: 'avenir_light';
	font-size: 14px;
	color: white;
	margin-top: 30px;
	text-align: justify;
}

.thumb_wrapper{
	margin-top: 80px;
	/*min-width: 4px;*/
	/*text-align: center;*/
	padding-bottom: 20px;
	/*border: 1px red solid;*/
}

.pro_thumb{
	border-radius: 50%;
	width: 150px;
	max-width: 13%;
	margin-left: 20px;
}