body{
	background: #363636;
	z-index: -1000;
}

.quick_fact_btn{
	position: absolute;
	max-width: 4vw;
	top: 0;
}

.nav_btn_wrapper{
	/*border: 1px red solid;*/
	width: 50%;
	position: absolute;
	float: right;
	/*top: 8%;*/
	top: 4vw;
	right: 5.5%;
	text-align: right;
}

.nav_btn{
	font-family: 'avenir_light';
	display: inline-block;
	color: white;
	/*margin-right: 1.2em;*/
	margin-right: .8vw;
	font-size: .85vw;
}

.btn{
	color: white;
	text-decoration: none;
}

.btn:hover{
	color: #a073ec;
}

.drop_down_list{
	position: absolute;
	padding-top: .3em;
}

.nav_btn:hover .drop_down_btn{
	display: block;
}

.drop_down_btn{
	position: relative;
	text-align: left;
	display: none;
	color: white;
	padding-top: .5em;
	/*margin-left: .8em;*/
	font-family: 'avenir_light';
}

.drop_down_btn span{
	color: #a073ec;
}

#copyright{
	/*border: 1px green solid;*/
	position: absolute;
	color: grey;
	font-family: 'avenir_light';
	font-size: .7vw;
	bottom: 3%;
	right: 6%;
}

.desktop_logo{
	margin-top: 28vh;
	margin-left: 8%;
}

.logo{
	max-width: 43%;
	max-height: 100%;
}

/*===================================QUICK FACTS page starts here===================================*/

.clients_wrapper{
	position: relative;
	padding-top: 8%;
	margin-left: 8%;
	/*border: 1px yellow solid;*/
}

.quick_fact_description{
	position: relative;
	/*margin-top: 3%;*/
	/*margin-left: 8%;*/
	padding-bottom: 3%;
	color: white;
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 3.5vw;
}

.quick_fact_description span{
	color: #a073ec;
}


.client_text{
	font-family: 'avenir_light';
	font-size: 0.9vw;
	color: white;
	text-transform: uppercase;
}

.logo_wrapper{
	position: relative;
	margin: 1% 0 0 0;
	padding: 0;
	list-style: none;
	max-width: 95%;
	width:auto;
	clear: both;
	/*border: 1px red solid;*/
}

.client_logo{
	/*max-height: 90%;*/
	display: inline-block;
	max-width: 55%;
	max-height: 14vh;
	margin: 0% 1% 1% 0%;
}

.quick_fact_contact{
	position: relative;
	color: white;
	font-family: 'avenir_black';
	display: inline-block;
	font-size: 1.1vw;
	text-transform: uppercase;
	margin-top: 2%;
	/*border: 1px yellow solid;*/
}

.footer_btn{
	color: white;
	text-decoration: none;
}

.footer_btn:hover{
	color: #a073ec;
	text-decoration: none;
}

/*===================================SPECIALTY page starts here===================================*/
	
#title{
	position: absolute;
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 8vh;
	/*font-size: 4em;*/
	color: white;
	margin-top: 15%;
	margin-left: 5%;
	/*border: 1px yellow solid;*/
}

#title span{
	color: #a073ec;
}

.more_btn{
	max-width: 40%;
	max-height: 10%;
	/*margin-left: 43%;*/
}

#more_btn_wrapper{
	position: relative;
	margin-left: 70%;
}

/*===================================CONTACT page starts here===================================*/

#contact_wrapper{
	position: absolute;
	width: 94%;
	margin-top: 12%;
	margin-left: 5%;
	/*border: 1px red solid;*/
}

.contact_title{
	position: relative;
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 4vw;
	color: white;
}

.contact_btn_wrapper{
	position: relative;
	width: 100%;
	height: auto;
	/*border: 1px blue solid;*/
}

.contact_img_wrapper{
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 4%;
	margin-left: 3%;
	/*border: 1px yellow solid;*/
}

.contact_img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 25%;
	text-align: center;
	/*border: 1px green solid;*/
}

.contact_info{
	/*position: absolute;*/
	/*font-size: 1.5em;*/
	/*font-size: inherit;*/
	font-size: 1.5vw;
	color: grey;
	font-family: 'avenir_black';
	text-align:center;
	line-height: 1.1em;
	margin-top: 5%;
	/*border: 1px red solid;*/
	padding: 0;
}

.contact_btn_wrapper span{
		display: inline;
	}

/*===================================PROJECTS starts here===================================*/

#bgvid{ 
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -100;
	  background: url('vid/grommet_bg_vid.jpg') no-repeat;
	  background-size: cover;
}

#projects_container{
	/*border: 1px red solid;*/
	height: 100%;
	width: 100%;
	position: absolute;
}

.projects_title_wrapper{
	/*border: 1px yellow solid;*/
	display: inline-block;
	margin-top: 33vh;
	margin-left: 9vw;
	z-index: 99;
}

.projects_title{
	font-family: 'avenir_black';
	font-size: 3vw;
	color: white;
	text-transform: uppercase;
}

.projects_title span{
	color: #a073ec;
}

/*===================================PROJECTS DETAILS starts here===================================*/

.pro_title_wrapper{
	position: absolute;
	margin-top: 8%;
	margin-left: 8%;
}

.pro_title{
	color: white;
	font-family: 'avenir_black';
	text-transform: uppercase;
	font-size: 4vw;
	/*line-height: 3vw;*/
}

.pro_sub_title{
	margin-top: .5%;
	line-height: 2.5vw;
	color: #b7b7b7;
	font-size: 2.5vw;
}

.pro_category{
	color: #a073ec;
	font-family: 'avenir_light';
	text-transform: uppercase;
	font-size: 1vw;
	margin-top: .5%;
}

.pro_description{
	/*border: 1px orange solid;*/
	max-width: 40%;
	/*max-width: 40%;*/
	/*height: 50vh;*/
	/*overflow: scroll;*/
	color: white;
	font-family: 'avenir_light';
	font-size: .9vw;
	/*font-style: italic;*/
	text-align: justify;
	line-height: 1.1em;
	margin-top: 3.5%;
}

.pro_client{
	color: white;
	width: 30%;
	font-family: 'avenir_black';
	font-size: 1vw;
	text-transform: uppercase;
	margin-top: 3%;
	cursor: pointer;
	/*border: 1px orange solid;*/
}

.pro_client:hover{
	color: #a073ec;
}

/*grommet thumbnails css*/

.thumb_wrapper{
	/*border: 1px yellow solid;*/
	/*display: none;*/
	position: absolute;
	/*display: inline;*/
	width: 35vw;
	height: 50%;
	/*width: 80vh;*/
	/*width: 50vmax;*/
	/*width: 80vmin;*/
	/*width: 700px;*/
	/*left: 475px;*/
	top: 13vw;
	right: 5.5%;
	text-align: right;
}

.thumb_list{
	/*border: 1px red solid;*/
	/*position: relative;*/
	height: 10%;
	display: inline;
	margin: 1%;

}

.pro_thumb{
	max-width: 10vw;
	overflow: hidden;
	border-radius: 50%;
	margin: 1%;
}

/*===================================INDEX PROJECTS starts here===================================*/

