.preserve3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.vAlign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.hAlign {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.enableSelect {
    -webkit-touch-callout: auto;
    -webkit-user-select: buttonauto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto; 
}

.disableInteraction{
  pointer-events: none;
}

.enableInteraction{
  pointer-events: all;
}

.interactive{
  cursor: pointer;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.center_align {
  position: absolute;              
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.v_align {
  position: absolute; 
  top: 50%;
  transform: translate(0, -50%); 
}