/* General styles for all menus */
.cbp-spmenu {
	/*background: #49277b;*/
	background: #190935;
	position: fixed;
	font-family: 'avenir_light';
	text-transform: uppercase;
	font-size: 14px;
}

.cbp-spmenu h1 {
	/*color: #9d68f6;*/
	color: white;
	font-size: 20px;
	padding: 25px 15px;
	margin: 0;
	/*font-weight: 300;*/
	font-family: 'avenir_black';
	background: #0b021c;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	/*font-size: 1.1em;*/
	/*font-weight: 300;*/
}

.cbp-spmenu a:hover {
	background: #9d68f6;
}

.cbp-spmenu a:active {
	background: #49277b;
	color: grey;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	/*z-index: 1000;*/
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #0b021c;
	padding: 15px;
}

/* Vertical menu that slides from the left or right */


.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

/*.cbp-spmenu-push-toright {
	left: 240px;
}
*/
.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}
