.btn:hover{
	color: #a073ec;
}


@media only screen and (max-width: 768px){
	body{
		height: 75%;
		width: 99%;
		}


		/*footer{
			width: 100%;
			bottom: 0;
			font-family: 'avenir_light';
			text-transform: uppercase;
			position: relative;
			color: grey;
			margin-top: 0%;
			margin-bottom: 5%;
			text-align: center;
		}*/

		#copyright{
			/*float: right;*/
			/*margin-right: 5%;*/
			/*position: relative;*/
			/*bottom: 0;*/
			/*vertical-align: middle;*/
			font-size: .6em;
			font-family: 'avenir_light';
			color: grey;
			text-align: center;
			bottom: 5%;
			left: 0;
			right: 0;
			position: absolute;
		}

		.quick_fact_contact{
			color: white;
			font-family: 'avenir_black';
			display: inline-block;
			text-transform: uppercase;
			font-size: 1em;
			margin-top: 10%;
		}

		.footer_btn{
			color: white;
			text-decoration: none;
			vertical-align: middle;
		}

		.footer_btn:hover{
			color: #a073ec;
			text-decoration: none;
		}

		.quick_fact_btn{
			position: relative;
			top: 0;
			right: 0;
			max-width: 30%;
			max-height: 14%;
		}

		.logo{
			max-width: 75%;
			max-height: 35%;
		}

		.desktop_logo{
			position: relative;
			margin-top: 20vh;
			text-align: center;
			display: block;
			/*border: 1px yellow solid;*/
		}

		.nav_btn_wrapper{
			/*display: none;*/
			list-style: none;
			text-align: center;
			position: relative;
			bottom: 10%;
			right: 0;
			left: 0;
			padding: 0;
			/*margin: 0;*/
			padding: 0;
			margin-bottom: 5%;
			/*margin: 10% 0 2% 0;*/
			/*border: 1px red solid;*/
		}

		.nav_btn{
			font-family: 'avenir_light';
			display: inline-block;
			color: white;
			margin-right: .5em;
			font-size: .65em;
		}

		.btn{
			color: white;
			text-decoration: none;
		}

		.quick_fact_description{
			position: relative;
			margin-top: 10%;
			margin-left: 8%;
			color: white;
			font-family: 'HelveticaNeueLT57CnBold';
			font-size: 8vw;
			clear: both;

		}

		.quick_fact_description span{
			color: #a073ec;
		}

		.clients_wrapper{
			/*position: absolute;*/
			font-family: 'avenir_light';
			margin-left: 8%;
			margin-top: 7%;
		}

		.client_text{
			font-size: 2.5vw;
			color: white;
			text-transform: uppercase;
		}

		.logo_wrapper{
			/*position: relative;*/
			margin: 1% 0 0 0;
			padding: 0;
			list-style: none;
			max-width: 95%;
			width:auto;
			clear: both;
			/*border: 1px red solid;*/
		}

		.client_logo{
			/*max-height: 90%;*/
			display: inline-block;
			width: 23%;
			max-width: 100%;
			/*max-height: 20%;*/
			max-height: 100%;
			margin: 0% 1% 1% 0%;
			/*margin: 0;*/
		}
	

} /*small screen ends here*/

/*Mid screen stats here*/
@media only screen and (min-width: 769px){

/*footer{
	border: 1px white solid;
	width: 100%;
	bottom: 0;
	font-family: 'avenir_light';
	text-transform: uppercase;
	position: relative;
	color: white;
	font-size: 1.2vw;
	bottom: 5%;
	vertical-align: middle;
	margin-top: 55%;
}
*/
#copyright{
	float: right;
	margin-right: 7%;
	vertical-align: middle;
	color: white;
	font-family: 'avenir_light';
	margin-top: 13vh;
	font-size: 1.2vw;
}

.quick_fact_contact{
	color: white;
	font-family: 'avenir_black';
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.8vw;
	margin-top: 3%;
	/*margin-left: 8%;*/
}

.quick_fact_btn{
	/*float: left;*/
	position: relative;
	top: 0;
	max-width: 6%;
	max-height: 8%;
}

.footer_btn{
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.footer_btn:hover{
	color: #a073ec;
	text-decoration: none;
}


/*.quick_fact_btn{
	float: left;
	max-width: 8%;
	max-height: 10%;
}*/

	.logo{
	margin-top: 18vh;
	margin-left: 5%;
	max-width: 70%;
	max-height: 55%;
}

.nav_btn_wrapper{
	/*display: none;*/
	position: absolute;
	list-style: none;
	float: right;
	top: 5%;
	right: 5.5%;
}

.nav_btn{
	font-family: 'avenir_light';
	display: inline-block;
	color: white;
	margin-right: .8em;
	font-size: .7em;
}

.btn{
	color: white;
	text-decoration: none;
}

.quick_fact_description{
	position: relative;
	margin-top: 4%;
	margin-left: 8%;
	color: white;
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 4.5vw;

}

.quick_fact_description span{
	color: #a073ec;
}

.clients_wrapper{
	position: relative;
	clear: both;
	font-family: 'avenir_light';
	margin-left: 8%;
	margin-top: 3%;
}

.client_text{
	font-size: 1.3vw;
	color: white;
	text-transform: uppercase;
}

.logo_wrapper{
	/*position: relative;*/
	margin: 1% 0 0 0;
	padding: 0;
	list-style: none;
	max-width: 95%;
	width:auto;
	clear: both;
	/*border: 1px red solid;*/
}

.client_logo{
	/*max-height: 90%;*/
	display: inline-block;
	max-width: 50%;
	max-height: 14%;
	margin: 0% 1% 1% 0%;
}


}
/*Mid screen ends here*/


/*big screen starts here*/
@media only screen and (min-width: 1024px){
	

body{
/*background:  blue;*/
}

/*.desktop_logo{
	max-height: 25%;
	max-width: 75%;
}*/

/*footer{
	border: 1px white solid;
	width: 100%;
	bottom: 0;
	font-family: 'avenir_light';
	text-transform: uppercase;
	position: absolute;
	color: white;
	bottom: 2%;
}*/

#copyright{
	float: right;
	margin-right: 7%;
	font-size: .8vw;
	color: white;
	font-family: 'avenir_light';
	margin-top: 15vh;
}

.quick_fact_contact{
	position: relative;
	color: white;
	font-family: 'avenir_black';
	display: inline-block;
	font-size: 1.1vw;
	text-transform: uppercase;
	margin-top: 2%;
	/*margin-left: 8%;*/
	/*border: 1px yellow solid;*/
}

.quick_fact_btn{
	/*float: left;*/
	position: relative;
	top: 0;
	max-width: 6%;
	max-height: 8%;
}

.footer_btn{
	color: white;
	text-decoration: none;
}

.footer_btn:hover{
	color: #a073ec;
	text-decoration: none;
}

.logo{
	margin-top: 20vh;
	margin-left: 5%;
	max-width: 100%;
	max-height: 50%;
}

.nav_btn_wrapper{
	position: absolute;
	/*display: none;*/
	list-style: none;
	float: right;
	top: 5%;
	right: 5.5%;
}

.nav_btn{
	font-family: 'avenir_light';
	display: inline-block;
	color: white;
	margin-right: 1.2em;
	font-size: 1em;
}

.btn{
	color: white;
	text-decoration: none;
}
	

.quick_fact_description{
	position: relative;
	margin-top: 3%;
	margin-left: 8%;
	color: white;
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 3.5vw;
	/*font-size: 4em;*/

}

.quick_fact_description span{
	color: #a073ec;
}

.clients_wrapper{
	position: relative;
	clear: both;
	font-family: 'avenir_light';
	/*margin-left: 8%;*/
	margin-top: 3%;
}

.client_text{
	font-size: 0.9vw;
	color: white;
	text-transform: uppercase;
}

.logo_wrapper{
	/*position: relative;*/
	margin: 1% 0 0 0;
	padding: 0;
	list-style: none;
	max-width: 95%;
	width:auto;
	clear: both;
	/*border: 1px red solid;*/
}

.client_logo{
	/*max-height: 90%;*/
	display: inline-block;
	max-width: 55%;
	max-height: 15%;
	margin: 0% 1% 1% 0%;
}

} /*big screen ends here*/