html,
body {
	margin:0;
	padding:0;
	height:100%;
	background: #363636;
	/*overflow: hidden;*/
	/*overflow-x: visible;*/
}

body /*hide scroll bar for IE10*/
{
	-ms-overflow-style: none;
}

body::-webkit-scrollbar /*hide scroll bar for Chrome*/
{ 
    display: none; 
}


#super-container {
	/*border: 1px orange solid;*/
	max-width: 1920px;
	height: 100%;
	min-height: 550px;
	/*min-width: 100%;*/
	/*min-height:100%;*/
	margin: auto;
	background: #363636;
	/*background: red;*/
	position:relative;
	/*overflow: auto;*/
}

#copyright {
	/*background:#ffab62;*/
	width:100%;
	height:20px;
	position:absolute;
	bottom:0;
	text-align: center;
	font-family: 'avenir_light';
	font-size: 10px;
	color: grey;
}

#menu-btn{
	position: absolute;
	/*right: 0;*/
	left: -50px;
	margin-top: 15px;
	z-index: 99999;
	cursor: pointer;
	/*border: 1px red solid;*/
}

#page1,#page2,#page3,#page4{
	/*min-width: 100%;*/
	position: relative;
	height: 100%;
	widows: 100%;
	max-width: 1920px;
	max-height: 1024px;
	/*min-height: 640px;*/
	background: #363636;
}

/*#page2{
	background: #363636;
}

#page3{
	background: #363636;
}
*/
#page4{
	/*background: #200d3e;*/
	/*background: #2d223e;*/
}

#jpush{
	width: 100%;
	/*height: 100%;*/
	position: relative;
	z-index: 1;
	/*border: 1px yellow solid;*/
}

/*===========================
||                         ||
||         PAGE 1          ||
||                         ||
=============================*/

#page1{
	background: #363636;
	text-align: center;
}

#logo-wrapper{
	height: 100%;
	/*border: 1px green solid;*/
}

.logo{
	margin-top: 200px;
	/*max-width: 50%;*/
	max-width: 65%;
	width: 300px;
	padding-bottom: 10px;

}

.find-out-wrapper{
	position: absolute;
	/*border: 1px yellow solid;*/
	/*text-align: center;*/
	/*height: 250px;*/
	bottom: 10px;
	/*top: 50%;*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index:5;
}

.find-out{
	/*max-width: 15%;*/
	width: 50px;
	cursor: pointer;
	/*margin-top: 190px;*/
	/*padding-bottom: 20px;*/
}

/*===========================
||                         ||
||         PAGE 2          ||
||                         ||
=============================*/

.projects-wrapper{
	position: relative;
	/*height: 330px;*/
	/*height: 33.4%;*/
	/*height: 20%;*/
	height: 16.7%;
	/*height: 137.5px;*/
	/*min-height: 150px;*/
	min-width: 360px;
	/*max-height: 214px;*/
	/*border: 1px yellow solid;*/
	overflow: hidden;
	/*text-align: center;*/
	/*background-image: url("../images/m_grommet_bg.jpg");*/
}

.projects-img{
	position: absolute;
	width: 1920px;
	/*height: 214px;*/
	min-width: 800px;
	max-width: 100%;
	min-height: 214px;
	top: -80px;
	/*border: 1px yellow solid;*/
}

p{
	font-family: 'avenir_black';
	color: white;
	font-size: 26px;
	text-transform: uppercase;
    /*text-align: left;*/
}

p span{
	color: #a073ec;
}

.projects-title{ /*center the text*/
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index:5;
    /*width: 50%;*/
    /*border: 1px blue solid;*/
}

/*===========================
||                         ||
||       PAGE 3 & 4        ||
||                         ||
=============================*/

#page3-wrapper{
	text-align: center;
	position: relative;
}

.spec-title{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 28%);
    -webkit-transform: translate(-50%, 28%); /*must add for some browsers*/ 
    z-index:5;
    /*border: 1px red solid;*/
}

h4{
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 50px;
	color: white;
	text-align:left;
	text-transform: uppercase;
}

h4 span{
	color: #a073ec;
}

.find-out-wrapper-2{
	position: relative;
	top: 33em;
	/*border: 1px yellow solid;*/
	/*text-align: center;*/
	/*height: 250px;*/
	/*bottom: 10px;*/
	/*top: 50%;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%);*/
    z-index:5;
}

/*===========================
||                         ||
||      Contact page       ||
||                         ||
=============================*/

#contact-page{
	/*border: 1px green solid;*/
	/*position: relative;*/
	width: 100%;
	/*height: 100%;*/
}

.contact-wrapper{
	/*border: 1px yellow solid;*/
	position: absolute;
	text-align: center;
	margin: 0;
	width: 100%;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 5%);
    -webkit-transform: translate(-50%, 5%)
}

.contact-btn{
	/*border: 1px red solid;*/
	/*width: 25%;*/
	max-width: 50px;
}

.contact-list{
	/*display: block;*/
	margin-top: 30px;
}

.contact_info{
	padding-top: 10px;
	font-family: 'HelveticaNeueLT57CnBold';
	/*margin-top: 22px;*/
	font-size: 18px;
	color: #a1a1a1;
	/*line-height: 37px;*/
	text-align: center;
}

.contact_info span{
	text-transform: uppercase;
	color: white;
	font-size: 22px;
}

h5{
	font-family: 'avenir_black';
	font-size: 15px;
	color: #707070;
	line-height: 18px;
}

/*===========================
||                         ||
||     Specialty page      ||
||                         ||
=============================*/

#specialty-page{
	position: relative;
	width: 100%;
	height: 100%;
}

.specialty-wrapper{
	/*border: 1px blue solid;*/
	/*width: 90%;*/
	padding-bottom: 20px;
	width: 310px;
	height: 100%;
	margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

h6{
	color: #888888;
	font-family: 'avenir_light';/
	font-size: 2.1vh;
}

h6 span{
  /*font-family: 'avenir_black';*/
  font-weight: bold;
  color: #999999;
}

/*===========================
||                         ||
||    Quick Facts page     ||
||                         ||
=============================*/

.quick-facts-wrapper{
	/*border: 1px blue solid;*/
	height: 100%;
	margin: 0;
    position: absolute;
    /*top: 50%;*/
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.quick-facts-title{
	width: 300px;
	position: relative;
	padding-bottom: 30px;
}

.client_text{
	font-family: 'avenir_light';
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	padding-bottom: 15px;
}

.logo_wrapper{
	/*border: 1px red solid;*/
	position: relative;
	width: 309px;
}

.logo_wrapper li{
	display: inline-block;
	margin-left: -2px;
	/*border: 1px yellow solid;*/
	/*width: 95px;*/
}

.client_logo{
	width: 100px;
	/*padding-left: 1px;*/
}


h7{
	font-family: 'HelveticaNeueLT57CnBold';
	font-size: 30px;
	color: white;
	text-align:left;
	text-transform: uppercase;
}

h7 span{
	color: #462779;
}

.quick_fact_contact{
	position: relative;
	font-family: 'avenir_black';
	color: white;
	text-transform: uppercase;
	font-size: 17px;
	padding: 20px 0 20px 0;
	line-height: 20px;
}

.quick_fact_contact a{
	font-family: 'avenir_black';
	color: white;
	line-height: 20px;

}

/*===========================
||                         ||
||      Projects page      ||
||                         ||
=============================*/

#kokako-page #samoa-page #grommet-page #bringingithome-page #gallipoli-page #mobile_project_page{
	position: relative;
	width: 100%;
}

.pro-wrapper{
	/*border: 1px red solid;*/
	/*width: 500px;*/
	height: 100%;
	margin: 0;
	padding-top: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.pro_title{
	/*border: 1px blue solid;*/
	height: 100%;
	font-family: 'avenir_black';
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	text-align: left;
}

.pro_sub_title{
	margin-top: 3px;
	font-size: 28px;
	color: grey;
}

.pro_category{
	font-family: 'avenir_light';
	font-size: 12px;
	color: #a073ec;
	/*text-transform: uppercase; */
	margin-top: 15px;
	padding-bottom: 30px;
}

#thumb-row{
	/*border: 1px green solid;*/
	display: block;
	/*width: 360px;*/
	font-size: 0;
}

.pro-thumb-list{
	/*border: 1px blue solid;*/
	padding: 0;
	display: inline-block;
}

.thumb-img{
	width: 103px;
	/*max-width: 100%;*/
	margin: 0;
	background-size: 103px;
}

.pro-description{
	padding: 30px 0;
	font-family: 'avenir_light';
	font-size: 12px;
	width: 310px;
	line-height: 15px;
	text-transform: none;
	/*text-align: justify;*/
}

.pro-client{
	font-family: 'avenir_black';
	font-size: 12px;
	padding-bottom: 10px;
	/*width: 250px;*/
}

.pro-client span{
	color: grey;
}

.pro-nav-btn{
	font-family: 'avenir_black';
	font-size: 10px;
	color: #a073ec;
	padding-bottom: 30px;
}


/*===========================
||                         ||
||       Partnership       ||
||                         ||
=============================*/

.nd_title{
	/*border: 1px blue solid;*/
	/*height: 100%;*/
	font-family: 'avenir_black';
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	text-align: left;
	padding-top: 100px;
}

.nd_description{
	font-family: 'avenir_light';
	width: 310px;
	/*width: 80%;*/
	font-size: 15px;
	color: white;
	margin-top: 30px;
	/*text-align: justify;*/
	line-height: 20px;
	/*border: 1px red solid;*/
	text-transform: none;
}	

.nd_btn{
	font-family: 'avenir_black';
	color: white;
}


.nd_logo_wrapper{
	display: block;
	padding-top: 50px;
	vertical-align: top;
	width: 350px;
	/*border: 1px blue solid;*/
}

.nd_logo_title{
	padding-top: 30px;
	font-family: 'avenir_black';
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}

.nd_logo_description{
	/*width: 665px;*/
	width: 90%;
	font-family: 'avenir_light';
	font-size: 12px;
	color: #a8a8a8;
	padding-top: 12px;
	line-height: 13px;
}

.partnership_wrapper {
	/*border: 1px red solid;*/
	/*width: 500px;*/
	/*width: 85%;*/
	height: 100%;
	/*margin: 0;*/
	padding-top: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/*===========================
||                         ||
||  Archive Projects page  ||
||                         ||
=============================*/

.archive_projects_wrapper {
	position: relative;
	width: 110px;
	height: 110px;
	background-color: #555;
	display: inline-block;
	margin-top: 2px;
	/*border: 1px red solid;*/
}

.archive_projects_title {
	font-family: 'avenir_black';
	font-size: 14px;
	text-transform: uppercase;
	color: white;
}

.archive_projects_title span{
	/*color: #462779;*/
	color: #a073ec;
}

