
  /*
#popupClose - this is referring to the anchor tag inside the popup conatainer.
We'll absolute position and style it here
*/
#popupClose{  
  width: 50%;
  height: 15%;
  /*background-image: url(../images/popup_close.png);*/
  /*background-repeat: no-repeat;*/
  /*display:block;  */
  /*text-align: center;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.popup_close_btn{
  max-width: 5%;
  max-height: 8%;
}

.popupClose_wrapper{
  position: absolute;
  left: 0;
  margin-top: 2.5vh;
  right: 0;
  text-align: center;
}

/*#popupClose:hover{
  background-image: url(../images/popup_close_hover.png);
  background-repeat: no-repeat;
  z-index: 99;
}
*/
/*
#bgPopup - this is referring to the element that will cover the whole page 
behind the popup and above the rest of the page.
NOTE: if you are using z-index on the same level in the DOM - 
  #bgPopup z-index needs to have the second highest value (behind #Popup)
*/
#bgPopup{
  display:none; 
  position:absolute;  
  _position:absolute; /* hack for internet explorer 6*/  
  height:100%;  
  width:100%;    
  background:#303030;   
  /*background: red;*/
  opacity: .85;
  left: 0;
  top: 0;
  z-index:100;  
}  

/*
#Popup - The popup container
NOTE: if you are using z-index on the same level in the DOM - 
  #Popup z-index needs to have the highest value.
*/
#Popup{  
  display:none;  
  position:relative;  
  _position:absolute; /* hack for internet explorer 6 */ 
  /*background:#462779; */
  background: #1d0340;
  opacity: 0.90;
  filter: alpha(opacity=85); /* For IE8 and earlier */
  /*border:2px solid #cecece;  */
  z-index:99;  
  padding: 20px 0px 50px 0px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 9990;
  /*min-height: 50%;*/
  /*border: 1px yellow solid;*/
} 

/*
#myButton - The Button....  make it have Button-like properties
*/
#myButton{
  /*display: block;*/
}


.desk_spec_description{
  color: #888888;
  font-family: 'avenir_light';
  /*font-size: 1.05vw;*/
  font-size: 2.1vh;
  /*font-size: 1.1em;*/
  text-align: center;
  line-height: 1wv;
  /*border: 1px yellow solid;*/
}

.desk_spec_description span{
  /*font-family: 'avenir_black';*/
  font-weight: bold;
  color: #999999;
}
