/*html, body,*/ #page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8, #page9, #site {
    position: absolute;
    width: 100% !important;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 1920px;
    min-height: 100%;
    overflow: hidden;
    /*width: auto !important;*/
    /*border: 3px orange solid;*/
}

#page1{
    position: static;
    background: #363636;
}

/*#page1, #page2, #page3, #page4,{
    width: 1920px !important;

}*/

.prev, .next {
    /*display:table;        */
    overflow:hidden;
    height:100%;
    width:1.5em;
    position: absolute;
    top:50%;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.prev{
  left:1%;
}
.next{
  right:1%;
}

.prev a, .next a {
    display:table-cell;
    vertical-align:middle;
    height:30px;
    text-align:center;
    /*background:#333;*/
    text-decoration:none;
    color:#999;
    font-weight:900;
    font-size:3em
}
.prev a:hover, .next a:hover {color:#eee;
}

.prev a{
    border-radius:0 0.5em 0.5em 0;   
}

.next a{
    border-radius:0.5em 0 0 0.5em;
}

p {padding:2em}

h1 {font-size:2em;padding:1em;font-weight:900}
