body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: Tahoma, Verdana, Helvetica;
	font-size: 12px;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
#animation {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}