/*@font-face {
    font-family: 'avenir_light';
    src: url('http://inccreative.co.nz/fonts/avenir_light.eot');
    src: url('http://inccreative.co.nz/fonts/avenir_light.eot?#iefix') format('embedded-opentype'),
         url('http://inccreative.co.nz/fonts/avenir_light.woff2') format('woff2'),
         url('http://inccreative.co.nz/fonts/avenir_light.woff') format('woff'),
         url('http://inccreative.co.nz/fonts/avenir_light.ttf') format('truetype'),
         url('http://inccreative.co.nz/fonts/avenir_light.svg#avenirlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenir_roman';
    src: url('http://inccreative.co.nz/fonts/avenir_roman.eot');
    src: url('http://inccreative.co.nz/fonts/avenir_roman.eot?#iefix') format('embedded-opentype'),
         url('http://inccreative.co.nz/fonts/avenir_roman.woff2') format('woff2'),
         url('http://inccreative.co.nz/fonts/avenir_roman.woff') format('woff'),
         url('http://inccreative.co.nz/fonts/avenir_roman.ttf') format('truetype'),
         url('http://inccreative.co.nz/fonts/avenir_roman.svg#avenirroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLT57CnBold';
    src: url('http://inccreative.co.nz/fonts/helveticalt77boldcondensed.eot');
    src: url('http://inccreative.co.nz/fonts/helveticalt77boldcondensed.eot') format('embedded-opentype'),
         url('http://inccreative.co.nz/fonts/helveticalt77boldcondensed.woff2') format('woff2'),
         url('http://inccreative.co.nz/fonts/helveticalt77boldcondensed.woff') format('woff'),
         url('http://inccreative.co.nz/fonts/helveticalt77boldcondensed.ttf') format('truetype'),
         url('http://inccreative.co.nz/fonts/helveticalt77boldcondensed.svg#HelveticaNeueLT57CnBold') format('svg');
}

@font-face {
    font-family: 'avenir_black';
    src: url('http://inccreative.co.nz/fonts/avenir_black.eot');
    src: url('http://inccreative.co.nz/fonts/avenir_black.eot?#iefix') format('embedded-opentype'),
         url('http://inccreative.co.nz/fonts/avenir_black.woff2') format('woff2'),
         url('http://inccreative.co.nz/fonts/avenir_black.woff') format('woff'),
         url('http://inccreative.co.nz/fonts/avenir_black.ttf') format('truetype'),
         url('http://inccreative.co.nz/fonts/avenir_black.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'avenir_light';
    src: url('http://dev.inccreative.co.nz/public/fonts/avenir_light.eot');
    src: url('http://dev.inccreative.co.nz/public/fonts/avenir_light.eot?#iefix') format('embedded-opentype'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_light.woff2') format('woff2'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_light.woff') format('woff'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_light.ttf') format('truetype'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_light.svg#avenirlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenir_roman';
    src: url('http://dev.inccreative.co.nz/public/fonts/avenir_roman.eot');
    src: url('http://dev.inccreative.co.nz/public/fonts/avenir_roman.eot?#iefix') format('embedded-opentype'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_roman.woff2') format('woff2'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_roman.woff') format('woff'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_roman.ttf') format('truetype'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_roman.svg#avenirroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLT57CnBold';
    src: url('http://dev.inccreative.co.nz/public/fonts/helveticalt77boldcondensed.eot');
    src: url('http://dev.inccreative.co.nz/public/fonts/helveticalt77boldcondensed.eot') format('embedded-opentype'),
         url('http://dev.inccreative.co.nz/public/fonts/helveticalt77boldcondensed.woff2') format('woff2'),
         url('http://dev.inccreative.co.nz/public/fonts/helveticalt77boldcondensed.woff') format('woff'),
         url('http://dev.inccreative.co.nz/public/fonts/helveticalt77boldcondensed.ttf') format('truetype'),
         url('http://dev.inccreative.co.nz/public/fonts/helveticalt77boldcondensed.svg#HelveticaNeueLT57CnBold') format('svg');
}

@font-face {
    font-family: 'avenir_black';
    src: url('http://dev.inccreative.co.nz/public/fonts/avenir_black.eot');
    src: url('http://dev.inccreative.co.nz/public/fonts/avenir_black.eot?#iefix') format('embedded-opentype'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_black.woff2') format('woff2'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_black.woff') format('woff'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_black.ttf') format('truetype'),
         url('http://dev.inccreative.co.nz/public/fonts/avenir_black.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
