body {
  margin: 0;
  overflow: hidden;
  background: transparent; 
}

#grommet_bg_vid{ 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url('vid/grommet_bg_vid.jpg') no-repeat;
  background-size: cover;
}


#projects_container{
  /*border: 1px red solid;*/
  height: 100%;
  position: absolute;
}

.projects_title_wrapper{
  /*border: 1px yellow solid;*/
  display: inline-block;
  margin-top: 33vh;
  margin-left: 9vw;
}

.projects_title{
  font-family: 'avenir_black';
  font-size: 3vw;
  color: white;
  text-transform: uppercase;
}

.projects_title span{
  color: #a073ec;
}
